body {
    background-color: lightgray;
}
/** {*/
/*    background-color: red;*/
/*}*/

/*element selector*/
h2 a {
    text-decoration: none;
    font-size: 50px;
    border-right-style: dotted;
    border-left-style: dashed;
    border-bottom-style: groove;
    /*border: 2px solid green;*/
}

#center {
    text-align: center;
}
 .only {
    /*word-spacing: 30px;*/
    /* letter-spacing: 3px;*/
     line-height: 1.6;
     text-transform: capitalize;
     font-family: Arial, Helvetica, sans-serif;
     font-style: unset;
     font-variant: small-caps;
     /*text-indent: 80%;*/
     text-align: justify;
     text-decoration: blink;
     margin: 20px 3px 5px 40px   ;
}

